@media screen {
    /*#region mint */
    .customMintWidth {
        width: 100%;
    }

    .mintTokenSelectorText {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        overflow: hidden;
    }
    .coinlistBtn {
        font-size: 1vw;
    }

    .mintTokenListArrow {
        width: 1vw;
        position: relative;
        padding-right: 0%;
        padding-left: 0%;
        margin-left: 0%;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .mintTokenListButton {
        justify-content: space-between;
        display: flex;
        padding-left: 0%;
        padding-right: 0%;
    }

    .mintTokenForgeButton {
        max-width: 100%;
        padding-left: 1vw;
        padding-right: 1vw;
        white-space: nowrap;
        overflow: hidden;
        box-shadow: none;
    }

    .mintTokenForgeButton:hover {
        box-shadow: 0 0 0.5rem 2.5px #00dfff;
    }

    .mintTokenForgeImage {
        object-fit: cover;
        height: auto;
        width: 100%;
        max-height: calc(100vh - 7rem);
    }

    .customMintLeftPadding {
        margin-left: auto;
        margin-right: auto;
    }

    .customMintPadding {
        padding-right: 5vw;
        /* max-height: calc(100vh - 7rem); */
    }

    .mintTokenMintedKnights {
        background-color: #eeeeee;
        margin: 1.5vh auto 1.5vh;
    }

    /*#endregion*/

    /*#region Mint Unavailable ******* te Amo c#*/

    .mintUnavailableGrid {
        height: 100vh;
        padding-top: 7rem;
    }

    /*#endregion */
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .customMintWidth {
        width: 100%;
    }

    .coinlistBtn {
        font-size: 1.5vw;
    }

    .mintTokenListArrow {
        width: 1.5vw;
    }

    .mintUnavailableGrid {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .mintUnavailableImage {
        padding-top: 20%;
    }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
    /* .mintTokenForgeImage {
        max-height: calc(100vh - 4.5rem);
    } */

    .mintUnavailableGrid {
        height: 100vh;
        padding-top: 5rem;
    }
}
