@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
    font-family: 'Montserrat';
}

.customHeightScreen {
    height: calc(100vh - 107px);
    /* Fallback for browsers that do not support Custom Properties */
}

.customHeightScreenMobile {
    min-height: calc(100vh - 58px);
    /* Fallback for browsers that do not support Custom Properties */
    min-height: calc((var(--vh, 1vh) * 100) - 58px);
}

.customShadow {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.scrollToTopBtnShadow {
    box-shadow: 4.5px 4px 10px 0.07rem rgba(0, 0, 0, 0.25);
}

html {
    scroll-behavior: smooth;
}

.textblueyellow {
    filter: drop-shadow(1.3px 0px 0px #ffae00)
        drop-shadow(-1.3px 0px 0px #0074ff);
    letter-spacing: 3.5px;
}

.textRedBlue {
    filter: drop-shadow(1.5px 0px 0px #ff1900)
        drop-shadow(-1.5px 0px 0px #0074ff);
}

.textblueGolden {
    filter: drop-shadow(3px 0px 0px #ff8000) drop-shadow(-3px 0px 0px #0074ff);
}

.btnBlueYellow {
    filter: drop-shadow(2.5px 0px 0px #ffae00)
        drop-shadow(-2.3px 0px 0px #0074ff);
}

.btnRedBlue {
    filter: drop-shadow(2.5px 0px 0px #ff1900)
        drop-shadow(-2.3px 0px 0px #0074ff);
}

.headerBlueYellow {
    filter: drop-shadow(1.5px 0px 0px #ffae00)
        drop-shadow(-1.3px 0px 0px #0074ff);
}

.textblueGoldenArtmap {
    filter: drop-shadow(3.5px 0px 0px #ff8000) drop-shadow(-3px 0px 0px #0074ff);
}

.menifestoContentContainer p {
    hyphens: auto;
}

.gallery .pics {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 15px;
}

.pics:hover {
    filter: brightness(0.8);
}

.theDrawing {
    padding-right: 6rem;
}

.mintResultSwiper .swiper-pagination-bullet {
    display: none;
}

.heroLogoContainer {
    left: -4rem;
}

.homeLogoContainer svg {
    /* position: absolute;
    top: 0;
    right: 0; */
    width: auto;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.connectWallerBtn {
    height: unset !important;
    line-height: unset !important;
    padding: 0.375rem 0.75rem !important;
    background-color: #f3f3f3 !important;
    font-family: 'Montserrat' !important;
    text-transform: uppercase !important;
    letter-spacing: 2.2px;
    font-weight: 700 !important;
    transition: all 0.5s !important;
    color: black !important;
    font-size: 0.8rem !important;
}

.connectWallerBtn:hover {
    transform: scale(1.05) !important;
    background-color: rgb(96 96 96 / 0.5) !important;
}

.loader4 {
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 5px solid;
    border-top-color: rgba(246, 36, 89, 1);
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-left-color: rgba(246, 36, 89, 1);
    border-right-color: rgba(255, 255, 255, 0.3);
    -webkit-animation: loader4 1s ease-in-out infinite;
    animation: loader4 1s ease-in-out infinite;
}

@keyframes loader4 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader4 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.glitch {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    animation: glitch 700ms infinite;
}

.glitch svg {
    /* position: absolute; */
    width: 100%;
    z-index: 10;
}

.glitch svg:last-child {
    position: absolute;
    top: 0;
    right: 0;
}

.whiteDropShadow svg {
    filter: drop-shadow(1px 1px 0px #ffffff) drop-shadow(-1px -1px 0px #ffffff);
}

.glitch svg:first-child {
    top: 0;
    right: 0;
    animation: glitchOne 5s infinite;
}

.glitch svg:last-child {
    top: 0;
    right: 0;
    animation-name: glitchThree, glitchTwo;
    -webkit-animation-name: glitchThree, glitchTwo;
    animation-duration: 5s, 5s;
    -webkit-animation-duration: 5s, 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

/* Color Changing CSS */

.puprleForDesktop::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 60%;
    background-color: #6f00ba;
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    z-index: 0;
    bottom: 0;
    left: 0;
}

.puprleArtmapForDesktop::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #6f00ba;
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    z-index: 0;
    bottom: 0;
    left: 0;
}

.puprleForDesktopOurVision::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #6f00ba;
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    z-index: 0;
    bottom: 0;
    left: 0;
}

.ourVisionContentContainer::before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: inherit;
    width: 55%;
    clip-path: polygon(0% 0%, 30% 0, 0% 100%, 0% 100%);
    z-index: 10;
    bottom: 0;
    right: -54.8%;
}

.drawingHeroContentWrapper::before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: inherit;
    width: 55%;
    clip-path: polygon(0% 0%, 30% 0, 0% 100%, 0% 100%);
    z-index: 10;
    bottom: 0;
    right: -54.8%;
}

.drawingPurpleBg {
    background-color: #6f00ba;
}

.heroPurpleBg::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 51%;
    background-color: #6f00ba;
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    z-index: 0;
    bottom: 0;
    left: 0;
}

.gallery-bg::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 51%;
    background-color: #6f00ba;
    clip-path: polygon(0 0, 0 17%, 40% 0);
    z-index: 0;
    bottom: 0;
    left: 0;
}

.claimToken-purple-bg::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 51%;
    background-color: #6f00ba;
    clip-path: polygon(0 0, 0 17rem, 30rem 0);
    z-index: 0;
    bottom: 0;
    left: 0;
}

.ourvisionDes span {
    font-weight: 800;
}

.gallery {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    column-width: 33%;
    padding: 0 5px;
}

.gallery .pics {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;
}

.pics:hover {
    filter: brightness(0.8);
}

@keyframes glitchOne {
    0% {
        filter: drop-shadow(0 0 0 var(--before-color))
            drop-shadow(0 0 0 var(--after-color));
    }
    39.9% {
        filter: drop-shadow(0 0 0 var(--before-color))
            drop-shadow(0 0 0 var(--after-color));
    }
    40% {
        filter: drop-shadow(0.08em 0 0 var(--before-color))
            drop-shadow(-0.08em 0 0 var(--after-color));
    }
    46.5% {
        filter: drop-shadow(0em 0 0 var(--before-color))
            drop-shadow(-0em 0 0 var(--after-color));
    }
    51.9% {
        filter: drop-shadow(0em 0 0 var(--before-color))
            drop-shadow(0em 0 0 var(--after-color));
    }
    52% {
        filter: drop-shadow(0.08em 0 0 var(--before-color))
            drop-shadow(-0.08em 0 0 var(--after-color));
    }
    58.5% {
        filter: drop-shadow(0em 0 0 var(--before-color))
            drop-shadow(-0em 0 0 var(--after-color));
    }
    100% {
        filter: drop-shadow(0 0 0 var(--before-color))
            drop-shadow(0 0 0 var(--after-color));
    }
}

@keyframes glitchTwo {
    0% {
        filter: drop-shadow(0 0 0 var(--before-color))
            drop-shadow(0 0 0 var(--after-color));
    }
    39.9% {
        filter: drop-shadow(0 0 0 var(--before-color))
            drop-shadow(0 0 0 var(--after-color));
    }
    40% {
        filter: drop-shadow(0 0.08em 0 var(--after-color))
            drop-shadow(0 -0.08em 0 var(--before-color));
    }
    46.5% {
        filter: drop-shadow(0 0 0 var(--after-color))
            drop-shadow(0 0 0 var(--before-color));
    }
    100% {
        filter: drop-shadow(0 0 0 var(--before-color))
            drop-shadow(0 0 0 var(--after-color));
    }
}

@keyframes glitchThree {
    0% {
        filter: drop-shadow(0 0 0 var(--before-color))
            drop-shadow(0 0 0 var(--after-color));
    }
    51.9% {
        filter: drop-shadow(0em 0 0 var(--before-color))
            drop-shadow(0em 0 0 var(--after-color));
    }
    52% {
        filter: drop-shadow(0 -0.08em 0 var(--before-color));
    }
    58.5% {
        filter: drop-shadow(0 0 0 var(--before-color));
    }
    100% {
        filter: drop-shadow(0 0 0 var(--before-color))
            drop-shadow(0 0 0 var(--after-color));
    }
}

.galleyFiterSelectDropdownContainer::-webkit-scrollbar {
    width: 6.5px;
    background-color: #d6d6d6;
    border-radius: 10px;
}

/* Track */

.galleyFiterSelectDropdownContainer::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
}

/* Handle */

.galleyFiterSelectDropdownContainer::-webkit-scrollbar-thumb {
    background: #2765ff;
    border-radius: 10px;
}

/* Handle on hover */

.galleyFiterSelectDropdownContainer::-webkit-scrollbar-thumb:hover {
    background: #034afb;
}

.whiteAndBlackScrollbar::-webkit-scrollbar{
    width: 6px;
    background-color: black;
    border-radius: 15px;
}
.whiteAndBlackScrollbar::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 15px;
}

.blackAndWhiteScrollbar::-webkit-scrollbar{
    width: 6px;
    background-color: white;
    border-radius: 15px;
}

.blackAndWhiteScrollbar::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 15px;
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

.ball1,
.ball2,
.ball3,
.ball4,
.ball5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 100%;
}

.ball1 {
    animation: ball-animation 0.2s ease-in-out forwards;
    z-index: 1;
}

.ball2 {
    animation: ball-animation2 0.2s ease-in-out 0.25s forwards;
    z-index: 2;
}

.ball3 {
    animation: ball-animation3 0.2s ease-in-out 0.49s forwards;
    z-index: 3;
}

.ball4 {
    animation: ball-animation4 0.2s ease-in-out 0.7s forwards;
    z-index: 4;
}

/* .ball5{
    animation: ball-animation5 0.20s ease-in-out 1.7s forwards;
    z-index: 5;
} */

@keyframes ball-animation {
    0% {
        width: 0;
        height: 0;
        background-color: #ff0a02;
    }
    100% {
        width: 300vw;
        height: 300vw;
        background-color: #ff0a02;
        z-index: -10;
    }
}

@keyframes ball-animation2 {
    0% {
        width: 0;
        height: 0;
        background-color: #ff7323;
        display: block;
    }
    100% {
        width: 300vw;
        height: 300vw;
        background-color: #ff7323;
        z-index: -9;
    }
}

@keyframes ball-animation3 {
    0% {
        width: 0;
        height: 0;
        background-color: #ffae27;
        display: block;
    }
    100% {
        width: 300vw;
        height: 300vw;
        background-color: #ffae27;
        z-index: -8;
    }
}

@keyframes ball-animation4 {
    0% {
        width: 0;
        height: 0;
        background-color: white;
        display: block;
    }
    100% {
        width: 300vw;
        height: 300vw;
        background-color: white;
        z-index: -7;
    }
}

/* @keyframes ball-animation5 {
    0% {
        width: 0;
        height: 0;
        background-color: #6f00ba;
        display: block;
    }
    100% {
        width: 300vw;
        height: 300vw;
        background-color: #6f00ba;
    }
} */

.loadingBox1 {
    animation: loadingAnimation1 1s linear infinite alternate;
}

.loadingBox2 {
    animation: loadingAnimation2 1s linear infinite alternate;
}

.loadingBox3 {
    animation: loadingAnimation3 1s linear infinite alternate;
}

.loadingBox4 {
    animation: loadingAnimation4 1s linear infinite alternate;
}

.loadingBox5 {
    animation: loadingAnimation5 1s linear infinite alternate;
}

.loadingBox6 {
    animation: loadingAnimation6 1s linear infinite alternate;
}

.loadingBox7 {
    animation: loadingAnimation7 1s linear infinite alternate;
}

.loadingBox8 {
    animation: loadingAnimation8 1s linear infinite alternate;
}

.loadingBox9 {
    animation: loadingAnimation9 1s linear infinite alternate;
}

@keyframes loadingAnimation1 {
    0% {
        opacity: 1;
    }
    5.55% {
        opacity: 0.5;
    }
    11.11% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loadingAnimation2 {
    0% {
        opacity: 0;
    }
    5.55% {
        opacity: 0.5;
    }
    11.11% {
        opacity: 1;
    }
    16.66% {
        opacity: 0.5;
    }
    22.22% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loadingAnimation3 {
    0% {
        opacity: 0;
    }
    11.11% {
        opacity: 0;
    }
    16.66% {
        opacity: 0.5;
    }
    22.22% {
        opacity: 1;
    }
    27.77% {
        opacity: 0.5;
    }
    33.33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loadingAnimation4 {
    0% {
        opacity: 0;
    }
    22.22% {
        opacity: 0;
    }
    27.77% {
        opacity: 0.5;
    }
    33.33% {
        opacity: 1;
    }
    38.88% {
        opacity: 0.5;
    }
    44.44% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loadingAnimation5 {
    0% {
        opacity: 0;
    }
    33.33% {
        opacity: 0;
    }
    38.88% {
        opacity: 0.5;
    }
    44.44% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    55.55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loadingAnimation6 {
    0% {
        opacity: 0;
    }
    44.44% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    55.55% {
        opacity: 1;
    }
    61.11% {
        opacity: 0.5;
    }
    66.66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loadingAnimation7 {
    0% {
        opacity: 0;
    }
    55.55% {
        opacity: 0;
    }
    61.11% {
        opacity: 0.5;
    }
    66.66% {
        opacity: 1;
    }
    72.22% {
        opacity: 0.5;
    }
    77.77% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loadingAnimation8 {
    0% {
        opacity: 0;
    }
    66.66% {
        opacity: 0;
    }
    72.22% {
        opacity: 0.5;
    }
    77.77% {
        opacity: 1;
    }
    83.33% {
        opacity: 0.5;
    }
    88.88% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loadingAnimation9 {
    0% {
        opacity: 0;
    }
    77.77% {
        opacity: 0;
    }
    83.33% {
        opacity: 0.5;
    }
    88.88% {
        opacity: 1;
    }
    94.44% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.themeIconContainer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
}

.themeIconContainer img {
    width: 80%;
    height: 80%;
    margin: 10% 10% auto auto;
}

/* for mobiles */

@media screen and (max-width: 768px) {
    .gallery {
        /* -webkit-column-count: 1; */
        column-count: 1 !important;
        -webkit-column-width: 100%;
        column-width: 100%;
    }
    .selected-image {
        max-height: none !important;
        max-width: none !important;
        width: 75vw !important;
        height: auto !important;
    }
    .selected-image-container {
        max-height: 90vh;
        max-width: 90vw;
    }
}

@media screen and (min-width: 769px) {
    .gallery {
        /* -webkit-column-count: 3; */
        column-count: 3 !important;
        -webkit-column-width: calc(100% / 3);
        column-width: calc(100% / 3);
    }
}

.selected-image-container {
    max-height: 90vh;
    max-width: 90vw;
}

.disablemac-mac-animations * {
    transition: none !important;
    animation: none !important;
}
